/* Main section styles */
.testimonials-section {
  background-color: white;
  font-family: 'Poppins';
}

/* Section title */
.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #222222;
  margin-bottom: 1.5rem;
}

/* Section description */
.section-description {
  font-size: 1.125rem;
  line-height: 1.6;
  color: #555555;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* Testimonial cards */
.testimonial-card {
  background-color: #222222;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 370px;
  height: 308px;
  border-radius: 16px;
  padding:20px ;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  margin-top: 30px;
}

/* Avatar styles */
.avatar-container {
  align-items: center;
  padding-top: 20px;
}

.avatar-circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #D1B8A7;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Testimonial text */
.testimonial-text {
  text-align: center;
  /* margin-top: 2.5rem; */
  /* margin-bottom: 2rem; */
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
  padding: 5px;
}

/* Author info */
.testimonial-author {
  text-align: center;
  width: 100%;
  color: #D1B8A7;
  /* margin-bottom: 1rem; */
}

.author-name {
  font-size: 1.125rem;
  font-weight: 500;
  /* margin-bottom: 0.25rem; */
  color: #D1B8A7;
}

.author-position {
  font-size: 0.875rem;
  color: #bbbbbb;
  margin-top: -3px;
}


/* Styles pour les groupes de témoignages */
.testimonial-group {
  display: flex;
  width: 100%;
}

/* Assurez-vous que les dots sont bien visibles */
.nav-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #dddddd;
  margin: 0 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  outline: none;
}

.nav-dot.active {
  background-color: #222222;
  transform: scale(1.2);
}






/* Slider controls */
/* .slider-controls button {
  opacity: 0.7;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.slider-controls button:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
} */

/* Testimonial slides */
.testimonial-slide {
  padding: 1rem;
  transition: opacity 0.3s ease;
}

/* Slider animation */
.testimonials-slider {
  transition: transform 0.5s ease-in-out;
  display: flex;
  width: 100%;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .section-title {
    font-size: 2rem;
  }
  
  .testimonial-card {
    max-width: 320px;
  }
}

@media (max-width: 768px) {
  .testimonial-card {
    max-width: 90%;
    height: auto;
    min-height: 320px;
  }
  
  .section-title {
    font-size: 1.75rem;
  }
  
  .section-description {
    font-size: 1rem;
  }
  
  .slider-controls {
    display: none;
  }
}